.item.item-input {
	border: none;
	position: relative;
    
    left: 0px;
    top: 0px;
    background-color: transparent;
    width:100%;
}
.item.item-input span{width:auto;}
.item.item-input input{width:100%;}