<ion-header>

    <ion-navbar>
        <ion-title>activegame</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <form #form="ngForm" (submit)="submitForm(form)">
        <ion-list no-border>
            <div *ngFor="let player of filteredPlayers |async ; let i=index">
                <div *ngIf="player.status">
                    <div class="form-group">
                        <ion-item-group>
                        <ion-item-divider color="light">{{player.name}}</ion-item-divider>
                        <ion-item>
                            <ion-label floating>Points</ion-label>
                            <ion-input type="text" class="form-control" name="points" [(ngModel)]="model.points"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Rebounds</ion-label>
                            <ion-input type="text" class="form-control" name="rebounds" [(ngModel)]="model.rebounds"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Assists</ion-label>
                            <ion-input type="text" class="form-control" name="assists" [(ngModel)]="model.assists"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Steals</ion-label>
                            <ion-input type="text" class="form-control" name="steals" [(ngModel)]="model.steals"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Blocks</ion-label>
                            <ion-input type="text" class="form-control" name="blocks" [(ngModel)]="model.blocks"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Turnovers</ion-label>
                            <ion-input type="text" class="form-control" name="turnovers" [(ngModel)]="model.turnovers"></ion-input>
                        </ion-item>
                    </ion-item-group>
                    </div>
                </div>
            </div>
        </ion-list>
        <button ion-button full type="submit">OK</button>
    </form>
    Model: {{model | json}}
    <br> Angular: {{form.value | json}}

    <br>
</ion-content>