<!--
  Generated template for the GamedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>gamedetails</ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <ion-icon name='arrow-back'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let game of game | async; let i=index">
    <h2>Game info</h2>
    <ion-item>Game : {{game.name}}</ion-item>
    <ion-item>Date: {{game.date}}</ion-item>
  </div>
  <br>
  <h4>Please select a player to see stats.</h4>
  <ion-item>
    <ion-label>Players</ion-label>
    <ion-select [(ngModel)]="player" (ngModelChange)="filterPlayer(player)" >
      <ion-option *ngFor="let player of filteredPlayers |async" [value]="player" >{{player.name}}</ion-option>
    </ion-select>
  </ion-item>

  <br>
  <br>
    <div *ngFor="let player of filteredPlayer |async; let i=index">
      <ion-list>
        <h2>Game stats: {{player.name}}</h2>
        <ion-item>Points: {{player.points}}</ion-item>
        <ion-item>Assists: {{player.assists}}</ion-item>
        <ion-item>Rebounds: {{player.rebounds}}</ion-item>
        <ion-item>Steals: {{player.steals}}</ion-item>
        <ion-item>Blocks: {{player.blocks}}</ion-item>
        <ion-item>Turnovers: {{player.turnovers}}</ion-item>
      </ion-list>
    </div>


  filteredPlayer: {{filteredPlayer |json}}
</ion-content>